
.title {
    font-size: larger;
    margin-left: 20px;
}

.contador {
    font-size: medium;
    margin-left: 20px;
}

.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .radion {
      margin-left: 20px;
      
  }

  input[type=checkbox] {
      position: relative;
      cursor: pointer;
      
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:white;
    border-radius:2px;
    border: double 1px #5b5c5e;
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#1E80EF;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.spans {
    margin-left: 10px;
}

